<!-- optionSelected: truyền vào id của phần tử được chọn -->
<% selectBoxAjaxHelper = (item, optionSelected = '', linkPrefix = '', id = '') => {
    let xHtmlResult = ''
    
    item.forEach((item) => {
        <!-- phần tử được đổ ra phần tử nào có id = optionSelected thì được chọn -->
        let idGroup = (item.id == undefined) ? 'novalue' : item.id
        let selected = (optionSelected == item.id) ? 'selected = "selected"': ''
        xHtmlResult += `<option value=${idGroup} ${selected}>${item.name}</option>`
    })  
    return `<select name="item_group" data-iditem="${id}" data-link="/${linkPrefix}change-group" class="custom-select custom-select-sm">${xHtmlResult}
    </select>`
}    
%>