<% selectBoxHelper = (name, item, optionSelected, idSelect) => {
    let xHtmlResult = ''
    
    item.forEach((item) => {
        let selected = (optionSelected == item.id) ? 'selected = "selected"': ''
         let id = (item.id == undefined) ? 'novalue' : item.id
        xHtmlResult += `<option value=${id} ${selected}>${item.name}</option>`
    })  
    return `<select id="${idSelect}" name=${name} class="custom-select custom-select-sm">${xHtmlResult}
    </select>`
}    
%>

