
<%
statusHelper = (linkPrefix, status, id) => {
    let link = linkPrefix +  'change-status' + '/'+ id + '/' +status
    let icon = 'fa-check'
    let className = 'btn-success'
    if (status === 'inactive') {
        className = 'btn-danger'
        icon = 'fa-minus'
    }
    return `<a href="javascript:changeStatus('/${link}')" class="my-btn-state rounded-circle btn btn-sm ${className} status-${id}"><i class="fas ${icon}"></i></a>`
}
%>

