<% textAreaHelper = (name, value) => {
    if (value == '<p>undefined</p>') value = ''
     let xHtmlResult = ` <textarea name="${name}" id="${name}" rows="10" cols="80">
        ${value}
    </textarea>` 
    return xHtmlResult
}    
%>





