<!DOCTYPE html>
<html lang="en">
<% include elements/head%>
<body class="animsition">
	
	<!-- Header -->
	<% include elements/header%>

	<!-- Headline -->
	<% include elements/headline%>
		
	<%- body%>


	<!-- Footer -->
	<% include elements/footer%>
	
	<!-- Back to top -->
	<% include elements/back-to-top%>

	<!-- Modal Video 01-->
	<% include elements/modal-video-01%>


<% include elements/script%>


</body>
</html>