<div class="p-b-60">
    <div class="how2 how2-cl4 flex-s-c">
        <h3 class="f1-m-2 cl3 tab01-title">
            Category
        </h3>
    </div>

    <ul class="p-t-35">
        <li class="how-bor3 p-rl-4">
            <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                Fashion
            </a>
        </li>

        <li class="how-bor3 p-rl-4">
            <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                Beauty
            </a>
        </li>

        <li class="how-bor3 p-rl-4">
            <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                Street Style
            </a>
        </li>

        <li class="how-bor3 p-rl-4">
            <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                Life Style
            </a>
        </li>

        <li class="how-bor3 p-rl-4">
            <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                DIY & Crafts
            </a>
        </li>
    </ul>
</div>