<section class="bg0 p-t-60 p-b-35">
    <div class="container">
        <div class="row justify-content-center">
            <% include latest-articles%>

            <div class="col-md-10 col-lg-4">
                <div class="p-l-10 p-rl-0-sr991 p-b-20">
                    <!-- Video -->
                    <% include featured-video%>
                        
                    <!-- Subscribe -->
                    <% include subscribe%>
                    
                    <!-- Tag -->
                    <% include tag%>
                </div>
            </div>
        </div>
    </div>
</section>