<div class="wrap-logo container">
    <!-- Logo desktop -->		
    <div class="logo">
        <a href="index.html"><img src="frontend/images/icons/logo-01.png" alt="LOGO"></a>
    </div>	

    <!-- Banner -->
    <div class="banner-header">
        <a href="https://themewagon.com/themes/free-bootstrap-4-html5-news-website-template-magnews2/"><img src="frontend/images/banner-01.jpg" alt="IMG"></a>
    </div>
</div>