<!DOCTYPE html>
<html lang="en">

<body class="animsition">
	

	<!-- Breadcrumb -->
    <% include ./../elements/breadcrumb%>

	<!-- Page heading -->
    <% include ./../elements/page-heading%>

	<!-- Post -->
	<section class="bg0 p-b-55">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-80">
					<div class="p-r-10 p-r-0-sr991">
						<div class="m-t--65 p-b-40">
							<!-- Item Blog -->
							<div class="flex-col-s-c how-bor2 p-t-65 p-b-40">
								<a href="#" class="f1-s-10 cl2 text-uppercase txt-center hov-cl10 trans-03 p-b-40">
									Technology
								</a>

								<h5 class="p-b-17 txt-center">
									<a href="blog-detail-01.html" class="f1-l-1 cl2 hov-cl10 trans-03 respon2">
										Robot lorem ipsum dolor sit amet consectetur 
									</a>
								</h5>

								<div class="cl8 txt-center p-b-24">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										by John Alvarado
									</a>

									<span class="f1-s-3 m-rl-3">
										-
									</span>

									<span class="f1-s-3">
										Feb 18
									</span>
								</div>

								<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03 m-b-30">
									<img src="/frontend/images/blog-list-01.jpg" alt="IMG">
								</a>

								<p class="f1-s-11 cl6 txt-center p-b-22">
									Curabitur volutpat bibendum molestie. Vestibulum ornare gravida semper. Aliquam a dui suscipit, fringilla metus id, maximus leo. Vivamus sapien arcu, mollis eu pharetra vitae, condimentum in orci. Integer eu sodales dolor. Maecenas elementum arcu eu convallis rhoncus. Donec tortor sapien, euismod a faucibus eget, porttitor quis libero. 
								</p>

								<a href="blog-detail-01.html" class="f1-s-1 cl9 hov-cl10 trans-03">
									Read More
									<i class="m-l-2 fa fa-long-arrow-alt-right"></i>
								</a>
							</div>

							<!-- Item Blog -->
							<div class="flex-col-s-c how-bor2 p-t-65 p-b-40">
								<a href="#" class="f1-s-10 cl2 text-uppercase txt-center hov-cl10 trans-03 p-b-40">
									Life Style
								</a>

								<h5 class="p-b-17 txt-center">
									<a href="blog-detail-01.html" class="f1-l-1 cl2 hov-cl10 trans-03 respon2">
										Donec tortor sapien, euismod a faucibus eget
									</a>
								</h5>

								<div class="cl8 txt-center p-b-24">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										by John Alvarado
									</a>

									<span class="f1-s-3 m-rl-3">
										-
									</span>

									<span class="f1-s-3">
										Feb 18
									</span>
								</div>

								<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03 m-b-30">
									<img src="/frontend/images/blog-list-02.jpg" alt="IMG">
								</a>

								<p class="f1-s-11 cl6 txt-center p-b-22">
									Curabitur volutpat bibendum molestie. Vestibulum ornare gravida semper. Aliquam a dui suscipit, fringilla metus id, maximus leo. Vivamus sapien arcu, mollis eu pharetra vitae, condimentum in orci. Integer eu sodales dolor. Maecenas elementum arcu eu convallis rhoncus. Donec tortor sapien, euismod a faucibus eget, porttitor quis libero. 
								</p>

								<a href="blog-detail-01.html" class="f1-s-1 cl9 hov-cl10 trans-03">
									Read More
									<i class="m-l-2 fa fa-long-arrow-alt-right"></i>
								</a>
							</div>

							<!-- Item Blog -->
							<div class="flex-col-s-c how-bor2 p-t-65 p-b-40">
								<a href="#" class="f1-s-10 cl2 text-uppercase txt-center hov-cl10 trans-03 p-b-40">
									Technology
								</a>

								<h5 class="p-b-17 txt-center">
									<a href="blog-detail-01.html" class="f1-l-1 cl2 hov-cl10 trans-03 respon2">
										Proin ullamcorper leo non volutpat laoreet
									</a>
								</h5>

								<div class="cl8 txt-center p-b-24">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										by John Alvarado
									</a>

									<span class="f1-s-3 m-rl-3">
										-
									</span>

									<span class="f1-s-3">
										Feb 18
									</span>
								</div>

								<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03 m-b-30">
									<img src="/frontend/images/blog-list-03.jpg" alt="IMG">
								</a>

								<p class="f1-s-11 cl6 txt-center p-b-22">
									Curabitur volutpat bibendum molestie. Vestibulum ornare gravida semper. Aliquam a dui suscipit, fringilla metus id, maximus leo. Vivamus sapien arcu, mollis eu pharetra vitae, condimentum in orci. Integer eu sodales dolor. Maecenas elementum arcu eu convallis rhoncus. Donec tortor sapien, euismod a faucibus eget, porttitor quis libero. 
								</p>

								<a href="blog-detail-01.html" class="f1-s-1 cl9 hov-cl10 trans-03">
									Read More
									<i class="m-l-2 fa fa-long-arrow-alt-right"></i>
								</a>
							</div>

							<!-- Item Blog -->
							<div class="flex-col-s-c how-bor2 p-t-65 p-b-40">
								<a href="#" class="f1-s-10 cl2 text-uppercase txt-center hov-cl10 trans-03 p-b-40">
									Life Style
								</a>

								<h5 class="p-b-17 txt-center">
									<a href="blog-detail-01.html" class="f1-l-1 cl2 hov-cl10 trans-03 respon2">
										Robot lorem ipsum dolor sit amet consectetur 
									</a>
								</h5>

								<div class="cl8 txt-center p-b-24">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										by John Alvarado
									</a>

									<span class="f1-s-3 m-rl-3">
										-
									</span>

									<span class="f1-s-3">
										Feb 18
									</span>
								</div>

								<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03 m-b-30">
									<img src="/frontend/images/blog-list-04.jpg" alt="IMG">
								</a>

								<p class="f1-s-11 cl6 txt-center p-b-22">
									Curabitur volutpat bibendum molestie. Vestibulum ornare gravida semper. Aliquam a dui suscipit, fringilla metus id, maximus leo. Vivamus sapien arcu, mollis eu pharetra vitae, condimentum in orci. Integer eu sodales dolor. Maecenas elementum arcu eu convallis rhoncus. Donec tortor sapien, euismod a faucibus eget, porttitor quis libero. 
								</p>

								<a href="blog-detail-01.html" class="f1-s-1 cl9 hov-cl10 trans-03">
									Read More
									<i class="m-l-2 fa fa-long-arrow-alt-right"></i>
								</a>
							</div>

							<!-- Item Blog -->
							<div class="flex-col-s-c how-bor2 p-t-65 p-b-40">
								<a href="#" class="f1-s-10 cl2 text-uppercase txt-center hov-cl10 trans-03 p-b-40">
									Technology
								</a>

								<h5 class="p-b-17 txt-center">
									<a href="blog-detail-01.html" class="f1-l-1 cl2 hov-cl10 trans-03 respon2">
										Proin ullamcorper leo non volutpat laoreet
									</a>
								</h5>

								<div class="cl8 txt-center p-b-24">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										by John Alvarado
									</a>

									<span class="f1-s-3 m-rl-3">
										-
									</span>

									<span class="f1-s-3">
										Feb 18
									</span>
								</div>

								<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03 m-b-30">
									<img src="/frontend/images/blog-list-05.jpg" alt="IMG">
								</a>

								<p class="f1-s-11 cl6 txt-center p-b-22">
									Curabitur volutpat bibendum molestie. Vestibulum ornare gravida semper. Aliquam a dui suscipit, fringilla metus id, maximus leo. Vivamus sapien arcu, mollis eu pharetra vitae, condimentum in orci. Integer eu sodales dolor. Maecenas elementum arcu eu convallis rhoncus. Donec tortor sapien, euismod a faucibus eget, porttitor quis libero. 
								</p>

								<a href="blog-detail-01.html" class="f1-s-1 cl9 hov-cl10 trans-03">
									Read More
									<i class="m-l-2 fa fa-long-arrow-alt-right"></i>
								</a>
							</div>

							<!-- Item Blog -->
							<div class="flex-col-s-c how-bor2 p-t-65 p-b-40">
								<a href="#" class="f1-s-10 cl2 text-uppercase txt-center hov-cl10 trans-03 p-b-40">
									Life Style
								</a>

								<h5 class="p-b-17 txt-center">
									<a href="blog-detail-01.html" class="f1-l-1 cl2 hov-cl10 trans-03 respon2">
										Robot lorem ipsum dolor sit amet consectetur 
									</a>
								</h5>

								<div class="cl8 txt-center p-b-24">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										by John Alvarado
									</a>

									<span class="f1-s-3 m-rl-3">
										-
									</span>

									<span class="f1-s-3">
										Feb 18
									</span>
								</div>

								<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03 m-b-30">
									<img src="/frontend/images/blog-list-06.jpg" alt="IMG">
								</a>

								<p class="f1-s-11 cl6 txt-center p-b-22">
									Curabitur volutpat bibendum molestie. Vestibulum ornare gravida semper. Aliquam a dui suscipit, fringilla metus id, maximus leo. Vivamus sapien arcu, mollis eu pharetra vitae, condimentum in orci. Integer eu sodales dolor. Maecenas elementum arcu eu convallis rhoncus. Donec tortor sapien, euismod a faucibus eget, porttitor quis libero. 
								</p>

								<a href="blog-detail-01.html" class="f1-s-1 cl9 hov-cl10 trans-03">
									Read More
									<i class="m-l-2 fa fa-long-arrow-alt-right"></i>
								</a>
							</div>
						</div>

						<!-- Pagination -->
						<div class="flex-wr-c-c m-rl--7 p-t-15">
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7 pagi-active">1</a>
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">2</a>
						</div>
					</div>
				</div>

				<div class="col-md-10 col-lg-4 p-b-80">
					<div class="p-l-10 p-rl-0-sr991">							
						<!-- Subscribe -->
                        <% include ./../elements/subscribe%>

						<!-- Most Popular -->
                        <% include ./../elements/most-popular%>

						<!--  -->
                        <% include ./../elements/sidebar-banner%>
						
						<!-- Tag -->
                        <% include ./../elements/tag%>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>