<!DOCTYPE html>
<html>

<head>
    <% include themes/css+js/css%>
   

</head>
<!-- <%include themes/html/html%> -->
<%include themes/html/page-header%>
<%include themes/html/head%>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div class="wrapper">
        <%include themes/html/navbar%>
        <%include themes/html/sidebar%>

        <!-- <% include themes/title-page%>  -->
     >
       <%- body%>
      
    </div>
    <!-- ./wrapper -->
    <%include themes/html/footer%>

    <!-- script -->
    <% include themes/css+js/js%>
    <%include themes/html/script%>

</body>

</html>