<!DOCTYPE html>
<html>

<head>
    <% include themes/css+js/css%>
   

</head>
<%include html/head%>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div class="wrapper">
        <%include html/navbar%>
        <%include html/sidebar%>
        <!-- <% include themes/title-page%>  -->
     >
       <%- body%>
      
    </div>
    <!-- ./wrapper -->
    <%include html/footer%>

    <!-- script -->
    <% include themes/css+js/js%>
    <%include html/script%>

</body>

</html>