<% include ./../../helper/input%>
<% include ./../../helper/selectBox%>
<% include ./../../helper/textArea%>
<% include ./../../helper/formBody%>
<%
const linkPrefix = systemConfigs.prefixAdmin + `/${controllerName}/`
let elementsForm = [
{for: 'form[facebook]', label: 'Facebook', input: inputHelper("text", "info[social][facebook]", item.info.social.facebook, {'id': 'form[facebook]'})},
{for: 'form[youtube]', label: 'Youtube', input: inputHelper("text", "info[social][youtube]", item.info.social.youtube, {'id': 'form[youtube]'})},
{for: 'form[twitter]', label: 'Twitter', input: inputHelper("text", "info[social][twitter]", item.info.social.twitter, {'id': 'form[twitter]'})},
{for: 'form[pinterest]', label: 'Pinterest', input: inputHelper("text", "info[social][pinterest]", item.info.social.pinterest, {'id': 'form[pinterest]'})},
{for: 'form[instagram]', label: 'Instagram', input: inputHelper("text", "info[social][instagram]", item.info.social.instagram, {'id': 'form[instagram]'})},
{for: 'form[email]', label: 'Email', input: inputHelper("text", "info[social][email]", item.info.social.email, {'id': 'form[email]'})},
]
%>
<%- JSON.stringify(item) %>


<section class="content">
    <div class="container-fluid">
        <div class="card card-info card-outline">
            <div class="card-body">
                <form action="/<%= linkPrefix%>social/save" method="post" enctype="application/x-www-form-urlencoded" class="mb-0" id="admin-form" enctype="multipart/form-data">

                    <%- formBodyHelper(elementsForm)%>

                    <div class="card-footer">
                        <div class="col-12 col-sm-8 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Submit </button>
                            <a href="/<%= systemConfigs.prefixAdmin%>/dashboard" class="btn btn-danger"> Cancel</a>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</section>