<%
showCategoryInHomeHelper = (category, link) => {
    let arr = [];
    let classDivOptions = ['how2-cl1', 'how2-cl2', 'how2-cl3'];
    let classH3Options = ['cl12', 'cl13', 'cl14'];
    
    for (let i = 0; i < category.length; i++) {
      if (category[i]) {
        arr.push({
          classDiv: classDivOptions[i % classDivOptions.length],
          classH3: classH3Options[i % classH3Options.length],
          eachCategory: category[i]
        });
      }
    }
        
    let htmlResult = ''
    arr.forEach((item, index) => {
        htmlResult += `<div class="tab01 p-b-20">
            <div class="tab01-head how2 ${item.classDiv} bocl12 flex-s-c m-r-10 m-r-0-sr991">
                <a href="${link}category/${item.eachCategory.id}">
                <h3 class="f1-m-2 ${item.classH3} tab01-title">
                    ${item.eachCategory.name}
                </h3>
                </a>
            </div>
        </div>`
    })
    return htmlResult
}
%>