
<!-- <a href="i" class="my-btn-state rounded-circle btn btn-sm btn-danger"></a> -->
<% 
    statusHelper = (collection, status, id) => {
    let link = systemConfigs.prefixAdmin + '/'+ collection + '/'+  'change-status' + '/'+ id + '/' +status
    let xHtmlStatus = ''
        if(status=== 'active') {
        xHtmlStatus = "<span>active</span>"
        } else if (status=== 'inactive') {
        xHtmlStatus = "<span>inactive</span>"
        }
    return `<a href="/${link}" class="my-btn-state rounded-circle btn btn-sm btn-success">
        ${xHtmlStatus}</a>`
    }
%>
<!-- <i class="fas fa-check"></i> -->
    
